.wrapper {
    width: 1300px;
}
.grid-container {
    margin: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 120px;
}
.grid-container1 {
    font: 10px arial, sans-serif;
    margin: 0em 0em 0em 2em;
   	text-align: center;
	clear: both;
    background-color: #fff;
    /*border: 1px solid #000;*/
    /* change border to be inside the box */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display: inline-grid;
    width: 49%;
    /*max-width: 750px;*/
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    grid-gap: 15px;
    /*background-color: #f33235;*/
    /*padding: 4px 4px 4px 0px;*/
}
.box_frame{
    box-shadow: 3px 3px 1px #888888;
	float: left;
	background-color: #ebeeb5; /* standard background color */
	border: 1px solid #898989;
	border-radius: 11px;
	padding: 5px;
	margin-left:4%;
	text-align: center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.box_frame:first-child{
	margin-left: 0;
}
.box_frame#_15{ /*change to 100% coz of grid usage */
	width: 100%;
}
.grid-container2 {
    margin: 0em 0em 0em 1em;

    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    padding: 4px 4px 4px 0px;
}
.parent_table {
    width:100%;
}
#mytable {
    width: 100%;
    margin: 1em 0em 0em 0em;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border:1px solid grey;
}
#mytable .circle {
    background-image:

    radial-gradient(
        circle,
        #a660ff,
        #a660ff 27px,
        transparent 27px);
}
#mytable td {
    font: 12px arial, sans-serif;
    height: 54px;
}
#legend {
    width: 70%;
    /*height: width;*/
    /*margin: 1em 0em 0em 0em;*/
    margin: auto;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    /*border:1px solid grey;*/
}

/*works with class*/
#legend .legend_i1_j0 {
    background-image:
    radial-gradient(
        circle,
        #ffdb4f,
        #ffdb4f 10px,
        transparent 10px);

}
/*works with ID*/
#legend #legend_i1_j0 {
    background-position: inherit ;
    background-image:
    radial-gradient(
        circle,
        #f33235,
        #f33235 10px,
        transparent 10px);

}
#legend #legend_i1_j1 {
    background-image:
    radial-gradient(
        circle,
        #056b0b,
        #056b0b 10px,
        transparent 10px);

}
#legend #legend_i1_j2 {
    /*!*width: 10px;*!*/
    /*!*height: 10px;*!*/
    /*background-image: url(icons8-circle-filled-50.png), radial-gradient(*/
        /*circle,*/
        /*#056b0b,*/
        /*#056b0b 10px,*/
        /*transparent 10px);*/
    /*background-repeat: no-repeat;*/
    /*background-size:contain;*/
    /*background-position: left, left;*/
    /*!*background-origin: content-box;*!*/
     /*border: 1px solid red;*/
    /*background-color: #FFFFFF;*/
    /*height: 10px;*/
    /*-moz-border-radius:5px;*/
    /*-webkit-border-radius: 5px;*/
    /*width: 10px;*/
        background-image:
    radial-gradient(
        circle,
        #f6f1ff,
        #fcfff2 10px,
        transparent 10px);
}
#legend #legend_i1_j3 {
    background-image:

    radial-gradient(
        circle,
        #b7ffcb,
        #b7ffcb 10px,
        transparent 10px);

}
#legend #legend_i1_j4 {
    background-image:

    radial-gradient(
        circle,
        #6fb7ff,
        #6fb7ff 10px,
        transparent 10px);

}
#legend #legend_i1_j5 {
    background-image:

    radial-gradient(
        circle,
        #fffa62,
        #fffa62 10px,
        transparent 10px);

}

#legend #legend_i1_j6 {
    background-image:

    radial-gradient(
        circle,
        #ffa7ac,
        #ffaeb3 10px,
        transparent 10px)
}

#legend td {
    font: 12px arial, sans-serif;
    text-align: justify-all;
    height: 20px;
        /*border:1px solid grey;*/

}

/*d3 styles*/
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;

}
.node text { font: 10px sans-serif; }
.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


/*http://jsfiddle.net/GlauberRocha/xkuRA/2/*/